<div *ngIf="product">

    <div *ngIf="message" class="alert alert-success">{{message.text}}</div>


<p-button
label="Send Message"
(click)="sendMessage()"
></p-button>

  <div class="row">
    <div class="col-12">
      <input type="text" pInputText [(ngModel)]="product.id" />
    </div>
    <div class="col-12">
      <input type="text" pInputText [(ngModel)]="product.name" />
    </div>

    <div class="col-12">
      <input type="text" pInputText [(ngModel)]="product.email" />
    </div>

    <div class="col-12">
      <input type="text" pInputText [(ngModel)]="product.company.name" />
    </div>

    <div class="col-12">
      <p-button label="save" (click)="updateProduct(product)"></p-button>
      <p-button label="add to list" (click)="onSelectedProductDetail(product)"></p-button>
    </div>
  </div>
</div>
