<p-table [value]="productList" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Email</th>
      <th>Company</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr >
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.email }}</td>
      <td>{{ product.company.name }}</td>
      <td>
        <p-button
          class="float-right"
          label="edit"
          (click)="onSelectedProduct(product)"
        ></p-button>
      </td>

      <td>
        <p-button
          class="float-right"
          label="add to list"
          (click)="addTodo(product)"
        ></p-button>
      </td>
  

      
    </tr>
  </ng-template>
</p-table>


