<p-messages></p-messages>

<div class="row">
  <div class="col-sm-8">

<app-product-list
  (onSelected)="onSelectedProduct($event)"
  [productList]="products$ | async">
</app-product-list>
  </div>
  <div class="col-sm-4">
    <h3>Last Updated </h3>
<ng-container *ngIf="lastSavedProductId">
  {{lastSavedProductId | json}}
  </ng-container>
  </div>
</div>


<p-sidebar [(visible)]="sidebarVisible">
  <div *ngIf="selectedProduct">
    <h3>Alert You have selected {{ selectedProduct.name }}</h3>
  </div>
  
<app-product-detail
    [productDetail]="selectedProduct"
    (onSelected)="onSelectedProductDetail($event)">
</app-product-detail>

</p-sidebar>





