<p-toast></p-toast>

<div class="row">
  <div class="col-sm-12">

<app-product-list
  (onSelected)="onSelectedProduct($event)"
  [productList]="products$ | async">
</app-product-list>
  </div>


<ng-container *ngIf="lastSavedProduct">
  <div class="col-sm-12">
  {{lastSavedProduct.id}}
  {{lastSavedProduct.name}}
</div>
  </ng-container>

</div>


<p-sidebar [(visible)]="sidebarVisible">
  <div *ngIf="selectedProduct">
    <h5>{{ selectedProduct.name }}</h5>
  </div>
  
<app-product-detail
    [productDetail]="selectedProduct"
    (onSelected)="onSelectedProductDetail($event)">
</app-product-detail>

</p-sidebar>





